@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$main:  "Inter", serif;
$second: "Roboto", serif;

@mixin max-screen($res) { 
    @media screen and (max-width: $res) { 
      @content; 
    } 
  }

*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1360px;
    margin: auto;
}
header{
    padding: 27px 0;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(4px);
    @include max-screen(767px){      
        backdrop-filter: blur(0);
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include max-screen(767px){      
            flex-direction: column;
            align-items: center;
        }
        .logo{
            display: flex;
            align-items: center;
            @include max-screen(767px){      
                margin-bottom: 15px;
            }
            
            p{
                color: rgb(255, 234, 46);
                font-family: $second;
                font-size: 40px;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: left;
                @include max-screen(815px){      
                    font-size: 35px;
                }
            }
        }
        nav{
            ul{
                display: flex;
                @include max-screen(434px){      
                    display: block;
                }
                li{
                    list-style: none;
                    margin-right: 40px;
                    @include max-screen(540px){      
                        margin-right: 20px;
                    }
                    @include max-screen(434px){      
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                    &:hover{
                        transform: scale(1.2);
                        transition-duration: 0.5s;
                    }
                    &:last-of-type{
                        margin-right: 0;
                        @include max-screen(434px){      
                            margin-bottom: 0;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-family: $main;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: left;
                        @include max-screen(815px){      
                            font-size: 18px;
                        }
                        @include max-screen(434px){      
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
.main_banner{
    background-image: url(../images/main_b.png);
    background-size: cover;
    height: 100vh;
    padding-top: 280px;
    @include max-screen(767px){      
        padding-top: 250px;
    }
    @include max-screen(434px){      
        padding-top: 320px;
    }
    .container{
        h1{
            margin-bottom: 30px;
            color: rgb(255, 255, 255);
            font-family: $second;
            max-width: 650px;
            font-size: 74px;
            font-weight: 800;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            @include max-screen(767px){      
                margin-bottom: 15px;
                font-size: 60px;
            }
            @include max-screen(434px){      
                font-size: 45px;
            }
        }
        p{
            max-width: 615px;
            margin-bottom: 40px;
            color: rgb(255, 255, 255);
            font-family: $main;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
            @include max-screen(767px){      
                margin-bottom: 20px;
                font-size: 15px;
            }
            @include max-screen(434px){      
                font-size: 13px;
            }
        }
        .main_link{
            padding: 26px 30px;
            border-radius: 0px 20px 20px 20px;
            max-width: 288px;
            background: rgb(255, 234, 46);
            @include max-screen(767px){      
                max-width: 250px;
                padding: 20px 25px;
            }
            @include max-screen(434px){      
                padding: 15px 20px;
            }
            &:hover{
                transform: scale(1.1);
                transition-duration: 0.5s;
                background-color: #8b4513;
            }
            a{
                display: inline-block;
                text-decoration: none;
                color: rgb(30, 30, 30);
                font-family: $main;
                font-size: 20px;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }
}